@import url('https://fonts.googleapis.com/css?family=Caveat+Brush|Schoolbell|Kreon|Chelsea+Market|Montserrat|IBM+Plex+Sans|Raleway');


body {
    font-size: 16px;
    margin: 0;

}



header {
    padding: 10% auto 0px auto;
    border-style: dashed;

    background-image: url(images/doodles.png);
    background-repeat: repeat;
    text-align: center;


}

h1 {
    font-family: 'Caveat Brush', cursive;
    font-size: 5em;
    font-weight: lighter;
    margin-top: 10%;
    margin-bottom: 0px;
}

h2 {
    font-family: 'Chelsea Market', serif;
    font-size: 1.25em;
    font-weight: thin;
}



section,
main,
footer {
    padding-right: 20%;
    padding-left: 20%;
}

.note {
    padding: 1em 20%;
    font-family: 'Chelsea Market', serif;
    font-size: 1.2em;
    text-align: center;
}

#navigation {
    font-family: 'Chelsea Market', monospace;
    font-size: 1.3em;
    text-align: center;
    border-style: dashed;
    border-top: none;
    border-bottom: none;
    margin: 0;
    line-height: 2;

    background-color: #e5e5e5;
    padding: auto;

}

.nav a:link {
    color: darkgrey;
}

.nav a:visited {
    color: darkgrey;
}

.nav a:hover {
    text-shadow: 1px 1px 1px #000000;
}

.nav a:active {
    text-shadow: none;
}

li.nav {
    display: inline;
    margin: 6em;
    margin-left: 0;
}

article {
    border-style: dashed;
    margin: 0;
    background-color: #f7f7f7;
}

#introduction, #author, #instructions{
    font-family: 'IBM Plex Sans';
    font-size: 1.1em;
}

#answer{
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#divider{
    display: block;
    margin: 0px auto;
    width: 30em;
    height: 30px;
}

#portrait{
    float: right;
    padding-right: 10px;
}

fieldset{
    border: double green;
    padding: 1px;
    margin-bottom: 2em;
}

legend {
    font-family: 'Chelsea Market', serif;
    font-size: 1.5em;
    color: green;
    margin-left: 1.2em;
}

button{
    font-family: 'Chelsea Market', serif;
}

.tablepart1{
    background-color: #e0edda;
}

.tablepart2{
    background-color: #c9dbb1;
}

table,th,td {
    border: none;
    font-family: 'Chelsea Market', serif;
}

table button {
    float: right;
}

table {
    width: 100%;
}

td{
    min-width: 90px;
}

div.num {
    margin: auto .5em;
    text-align: right;
    color: #3c1fa5;
    float: right;
}

td.flexible{
    display: inline-block;
    float: right;
}

#parentImage{
    height: 3em;
}

#goodImage{
    position: sticky;
    left:45%;
    height: 3em;
}

#rottenImage{
    position: sticky;
    left:65%;
    height: 3em;
}

#observation{
    font-family: 'Chelsea Market', serif;;
    border:dotted green;
    padding: 1em;
    background-image: url(images/cloudy-day.png);
}

#reset{
    margin: 1em 40% 0 40%;
}

#parentCloud{
    display: inline;
    width: 50px;
}

#goodCloud{
    display: inline;
    position: sticky;
    left:48%;
    width:3em;
}

#rottenCloud{
    display: inline;
    position: sticky;
    left:68%;
}



footer {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    border-style: dashed;
    border-top: none;
    margin-bottom: 0;
    background-color: #e5e5e5;

}

#reference{
    font-family: 'IBM Plex Sans';
    font-size: 1.1em;
}

#copyright {
    background-color: #282828;
    background-image: url(images/doodles.png);
    filter: invert(100%);
    text-align: center;
    padding: 3.5em;
    padding-bottom: 2em;
    font-family: 'Chelsea Market', serif;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}
